{% extends 'base.html' %}

{% block content %}
    <h1>Crear proyecto</h1>

    {{error}}

    <form action="{% url 'create_project' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <h2>Imágenes del proyecto(maximo 3)</h2>
        {{ formset_imagenes.management_form }}  <!-- Necesario para formsets -->
        {% for form in formset_imagenes %}
            {{ form.as_p }}
        {% endfor %}

        <button>
            Guardar
        </button>
    </form>
{% endblock %}