{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Tarjeta de perfil -->
            <div class="card shadow">
                <div class="card-header bg-dark text-white text-center">
                    <h2>Perfil de Usuario</h2>
                </div>
                <div class="card-body">
                    <!-- Detalles del perfil -->
                    <div class="text-center mb-4">
                        {% if usuario.profile.photo %}
                        <img src="{{ usuario.profile.photo.url }}" alt="Foto de perfil" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                        {% else %}
                        <img src="{% static 'images/default-profile.jpg' %}" alt="Foto de perfil predeterminada" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Nombre de usuario:</strong> {{ usuario.username }}
                        </li>
                        <li class="list-group-item">
                            <strong>Nombre:</strong> {{ usuario.first_name }}
                        </li>
                        <li class="list-group-item">
                            <strong>Apellido:</strong> {{ usuario.last_name }}
                        </li>
                        <li class="list-group-item">
                            <strong>Correo electrónico:</strong> {{ usuario.email }}
                        </li>
                        <li class="list-group-item">
                            <strong>Fecha de registro:</strong> {{ usuario.date_joined|date:"d M Y" }}
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'editar_perfil' %}" class="btn btn-warning me-3">Editar Perfil</a>
                    <a href="{% url 'task' %}" class="btn btn-primary">Volver a la lista de proyectos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
