{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Encabezado -->
            <h2 class="text-center mb-4">Registro de usuario</h2>
            
            <!-- Mensaje de error (si existe) -->
            {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>:
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
        

            <!-- Formulario de registro -->
            <div class="card shadow-sm p-4">
                <form method="POST">
                    {% csrf_token %}
                    
                    <!-- Campo de Nombre de Usuario -->
                    <div class="mb-3">
                        <label for="id_username" class="form-label">{{ form.username.label }}:</label>
                        {{ form.username }} 
                    </div>
                    
                    <!-- Campo de Email -->
                    <div class="mb-3">
                        <label for="id_email" class="form-label">{{ form.email.label }}:</label>
                        {{ form.email }}
                    </div>
                    
                    <!-- Campo de Contraseña -->
                    <div class="mb-3">
                        <label for="id_password" class="form-label">{{ form.password.label }}:</label>
                        {{ form.password }}
                    </div>
                    
                    <!-- Campo de Confirmar Contraseña -->
                    <div class="mb-3">
                        <label for="id_confirm_password" class="form-label">{{ form.confirm_password.label }}:</label>
                        {{ form.confirm_password }}
                    </div>
                    
                    <!-- Campo de Tipo de Usuario -->
                    <div class="mb-3">
                        <label for="id_tipo_usuario" class="form-label">{{ form.tipo_usuario.label }}:</label>
                        {{ form.tipo_usuario }}
                    </div>
                    
                    <!-- Botón de Enviar -->
                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                </form>
            </div>

            
        </div>
    </div>
</div>
{% endblock %}
