{% extends 'base.html' %}
{% block content %}
<h1>Menú de proyectos(Editar, Borrar y publicar)</h1>

{% for Proyecto in task %}

    <li>
        <a href="{% url 'project_edit' Proyecto.id %}">
        <h1>{{Proyecto.titulo}}</h1></a>
        {% if Proyecto.Publicar %}
            <p>Estatus: <strong>Publicado</strong></p>
        {% else %}
            <p>Estatus: <strong>Borrador</strong></p>
        {% endif %}
        <p>Descripcion: {{Proyecto.descripcion}}</p>
        <p>Subido por: {{Proyecto.Empleado_Responsable}}</p>
    </li>   
{% endfor %}

{% endblock %}